@import 'tailwindcss';

@source '../views/**/*.blade.php';

@theme {
    --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {
    [x-cloak] {
        display: none !important;
    }

    .deck-line-chart [x-cloak] {
        display: none !important;
    }
}
